@{
    ViewBag.Title = "Home Page";
}
<div>
    

</div>

<script src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {

        $ajax
    
    });
</script>