@{
    ViewBag.Title = "Home Page";
}
<div id="asd">
    
    asd
</div>

<button id="colorChanger">ddd</button>

<script src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {

        $('#colorChanger').onclick(function() {
            $('#asd').text('sddsdsds')
        });

    });
</script>